#searchBar {
    margin: 1rem;
    border-radius: 10px;
    height: 2em;
    width: 20em;
    text-align: center;
}

.searchButton button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.2em 1.2em;
    font-size: 2rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #4d4646;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  